.container {
  background-color: #e5e7ea;
  position: relative;
}

.input {
  width: 100%;
  padding: 15px;
  font-size: 15px;
  border: none;
  outline: 1px solid #e5e7ea;
  border-radius: 2px;
}

.input:focus {
  outline: 1px solid #000;
}

.button {
  background-color: transparent;
  position: absolute;
  right: 0;
  font-size: 12px;
  height: 100%;
  border: none;
  cursor: pointer;
  color: #333;
}

.button:hover {
  text-decoration: underline;
}