.products {
  margin: 20px auto;
  max-width: 1200px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  column-gap: 10px;
  row-gap: 15px;
  justify-items: center;
}

.link {
  text-decoration: none;
  color: #000;
}
