.button {
  border: 1px solid #000;
  padding: 6px 18px;
  font-size: 15px;
  border-radius: 2px;
  cursor: pointer;
}

.primary {
  background-color: #000;
  color: #fff;
  transition: 0.2s;
}

.primary:hover {
  background-color: #fff;
  color: #000;
}

.secondary {
  background-color: #fff;
  color: #000;
  transition: 0.2s;
}

.secondary:hover {
  background-color: #000;
  color: #fff;
}
