.card {
  width: 175px;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #e0e0e0;
  animation: loading 1.5s infinite ease-in-out;
}

.body {
  width: 100%;
  height: 16px;
  background-color: #e0e0e0;
  animation: loading 1.5s infinite ease-in-out;
}

.footer {
  width: 50%;
  height: 16px;
  background-color: #e0e0e0;
  animation: loading 1.5s infinite ease-in-out;
}


@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
