.container {
  height: 70px;
  padding: 12px 24px;
  max-width: 1600px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e0e0e0;
}

.link {
  color: #000;
  text-decoration: none;
}
