.banner {
  margin: auto;
  display: flex;
  padding: 25px;
  max-width: 1200px;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 45px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-size: 50px;
}

.caption {
  font-size: 25px;
}

.left button {
  width: max-content;
}

.right {
  flex: 1;
}

@media only screen and (max-width: 768px) {
  .banner {
    flex-direction: column-reverse;
    padding: 5px;
  }
}
