.modal {
  width: 500px;
  height: fit-content;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 20px;
  display: flex;
  margin: 100px auto;
  flex-direction: column;
  gap: 15px;
  z-index: 99;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.error {
  font-size: 12px;
  color: red;
}

.modal button {
  padding: 15px;
}
