.card {
  width: 175px;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
}

.close {
  background-color: transparent;
  display: flex;
  border: none;
  border-radius: 2px;
  right: 0;
  position: absolute;
  cursor: pointer;
}

.close:hover {
  background-color: #f4f3f1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header {
  height: 120px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.title {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  font-size: 22px;
  font-weight: 600;
}

.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 12px;
  background-color: #f4f3f1;
  width: max-content;
  border-radius: 2px;
}
