.form {
  margin: auto;
  max-width: 400px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.error {
  font-size: 12px;
  color: red;
}

.warning {
  font-size: 14px;
  text-align: center;
  color: red;
}

.form button {
  padding: 15px;
}

.text {
  font-size: 14px;
  text-align: center;
}

.link {
  font-weight: 600;
  color: #000;
}
