.form {
  position: sticky;
  top: 0;
  margin: auto;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.error {
  font-size: 12px;
  color: red;
}

.form button {
  padding: 15px;
}

