.options {
  display: flex;
  gap: 10px;
}

.label {
  display: inline-block;
  background-color: #fff;
  padding: 6px 18px;
  font-size: 15px;
  border-radius: 2px;
  border: 1px solid #000;
  cursor: pointer;
}

.input[type="radio"]:checked + .label {
  background-color:#000;
  color: #fff;
}

.input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}