* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
}

.masonry-grid {
  display: flex;
  width: auto;
}

.masonry-grid-column {
  padding: 7px;
  background-clip: padding-box;
}

.masonry-grid-column > div {
  margin-bottom: 10px;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.split-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.split-view {
  flex: 1;
}

.text {
  font-size: 60px;
}
