.container {
  padding: 12px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobileContainer {
  padding: 12px;
  width: 100vw;
  margin: auto;
  display: none;
  align-items: center;
  gap: 20px;
}

.avatar {
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 24px;
  list-style: none;
}

.link {
  color: #000;
  text-decoration: none;
}

.controls {
  display: flex;
  gap: 8px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  transition: transform 0.3s ease-in-out;
}

.hamburger.open span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

@media only screen and (max-width: 480px) {
  .container {
    display: none;
  }

  .mobileContainer {
    display: flex;
  }
}
