.carousel {
  width: 100%;
  max-width: 1200px;
  height: 50vh;
  margin: 0 auto;
  padding: 30px;
}

.carousel img {
  width: 800px;
}

@media only screen and (max-width: 768px) {
  .carousel img {
    width: 400px;
  }
}

@media only screen and (max-width: 480px) {
  .carousel img {
    width: 300px;
  }
}
