.dashboard {
  margin: 20px auto;
  max-width: 1250px;
}

.container {
  width: 100%;
  display: flex;
  gap: 20px;
}

.info {
  margin: auto;
  text-align: center;
  margin-top: 50px;
  color: #777;
}

.left {
  flex: 1;
}

.header {
  display: flex;
  gap: 5px;
}

.badge {
  background-color: #000;
  color: #fff;
  width: 18px;
  height: 18px;
  font-size: 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.right {
  padding: 0 10px;
  width: 325px;
}

@media only screen and (max-width: 700px) {
  .container {
    flex-direction: column-reverse;
  }

  .right {
    width: 100%;
  }
}
