.productDetails {
  margin: 20px auto;
  text-align: center;
  max-width: 1200px;
  height: calc(100vh - 95px);
  position: relative;
}

.container {
  width: 100%;
  padding: 0 50px;
  display: flex;
  text-align: left;
  gap: 75px;
}

.left {
  flex: 1;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.title {
  font-size: 36px;
}

.subtitle {
  font-size: 22px;
  color: #444;
}

.controls {
  display: flex;
  gap: 8px;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
